#navBarSide {
  height: 100vh;
  background-color: #1b1919;
  padding-left: 10px;
}

.container.main-content {
  padding-top: 80px;
}

.mb-0.bq {
  font-size: large;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

